/* estilos.css */

/* Estilos para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* Estilos para el encabezado */
h1 {
    color: #007bff;
}

/* Estilos para el formulario */
form {
    margin-bottom: 20px;
    align
}
a
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilos para el mensaje de éxito */
blockquote {
    margin: 20px 0;
    padding: 10px;
    background-color: #dff0d8;
    border-left: 5px solid #3c763d;
    color: #3c763d;
}

/* Estilos para el enlace de regresar */
a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}